<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.name}"></title>
</head>
<style>

</style>
<body>
<div>
    <h2>Book Details</h2>
    <p th:text="${book.name}"></p>
    <h3>Book Serial Name:</h3>
    <p th:text="${book.serialName}"></p>
     <h3>ISBN:</h3>
    <p th:text="${book.isbn}"></p>
    <img src="https://cdn2.iconfinder.com/data/icons/actions-2/24/pencil-circle-2-512.png"
         width="30px" height="30px"><h3>Author:</h3>
    <p th:text="${book.authors[0].name}"></p>
    <h3>Description:</h3>
    <p th:text="${book.description}"></p>


</div>

</body>
</html>